<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div style="display: flex; flex-direction: row;">
            <form id="image_form" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="exampleFormControlFile1">Example file input</label>
                  <input type="file" class="form-control-file" id="image" name="image">
                </div>
                <input type="submit" value="submit">
            </form>
        </div>
        <div style="display: flex; justify-content: center; flex-direction: column;">
            <h3 style="align-self: center;">Input photo: </h3>
            <img style="width: 220px; display: flex; align-self: center;" src="{{input_photo}}">
        </div>
        <h2 style="padding: 20px;">Results:</h2>
        <div class="container-fluid">
            {{error_msg}}
            <div class="row">
              <div style="display: flex; flex-direction:column" class="col-sm">
                <h3 style="align-self: center;">KNN-Secuencial</h3>
                {% for item in Knnheap %}
                <div style="display: flex; flex-direction: column;">
                    <img style="width: 220px; display: flex; align-self: center;" src="{{item[1]}}">
                    <p style="display: flex; align-self: center;">Distance: {{ item[0] }}</p>
                </div>
                {% endfor %}
              </div>
              <div style="display: flex; flex-direction:column" class="col-sm">
                <h3 style="align-self: center;">KNN-RTree</h3>
                {% for item in KnnR %}
                <div style="display: flex; flex-direction: column;">
                    <img style="width: 220px; display: flex; align-self: center;" src="{{item}}">
                    <p> </p>
                </div>
                {% endfor %}
              </div>
              <div style="display: flex; flex-direction:column" class="col-sm">
                <h3 style="align-self: center;">KNN-HighD</h3>
                {% for item in KnnHighD %}
                <div style="display: flex; flex-direction: column;">
                    <img style="width: 220px; display: flex; align-self: center;" src="{{item[1]}}">
                    <p style="display: flex; align-self: center;">Distance: {{ item[0] }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
    
    <style>
        body{
            margin: 0;
        }
    </style>
</html>
